

@global-font-size: 15px;

@global-font-family: Lato, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;

@internal-form-select-image:                     "images/uikit/backgrounds/form-select.svg";
@internal-form-radio-image:                      "images/uikit/backgrounds/form-radio.svg";
@internal-form-checkbox-image:                   "images/uikit/backgrounds/form-checkbox.svg";
@internal-form-checkbox-indeterminate-image:     "images/uikit/backgrounds/form-checkbox-indeterminate.svg";
