.hook-card() {
    cursor: default;
    &[href] {
        cursor: pointer;
    }
    &, &:hover {
        text-decoration: none;
        color: inherit;
    }
}

.uk-card-footer {
    .uk-label {
        opacity: .6;
    }
}
