
@import 'src/bower_components/uikit/scss/uikit-mixins';
@import 'src/bower_components/uikit/scss/uikit-variables';
@import 'src/bower_components/uikit/scss/uikit';
//@import 'src/bower_components/uikit/dist/css/uikit';


// EXAMPLE
$font-stack: Lato, Helvetica, sans-serif;
$primary-color: #444;

body {
    font: 100% $font-stack;
    color: $primary-color;
    font-weight: lighter;
    line-height: 22px;
}

.uk-panel-box {
    &-default {
        background-color: #fff;
        transition: box-shadow .3s;
        box-shadow: 0 5px 15px rgba(0,0,0,0.1);
        padding: 30px;

        .uk-panel-title {
            font-size: 24px;
            line-height: 1.4;
        }

        .uk-badge {
            top: 30px; right: 30px;
            padding: 0 10px;
            background: #1e87f0;
            white-space: nowrap;
            border-radius: 2px;
            text-transform: uppercase;
            font-weight: 400;
            font-size: 10px;
            line-height: 18px;
        }

        > p {
            line-height: 20px;
        }

        &:hover {
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
            > p {
                color: $primary-color;
            }
        }
    }
}
